php72:
    build: php72-fpm
    container_name: php72
#    net: "host"
    extra_hosts:
        - "dockerhost:172.17.0.1"
    ports:
        - "127.0.0.1:9072:9000"
        - "172.17.0.1:9072:9000"
    volumes:
        - /var/www/vhost:/var/www/vhost
        - /etc/nginx/cache:/etc/nginx/cache
        - /var/www/nextcloud:/var/www/nextcloud
        - /var/log:/var/log:rw
    restart: always
#php71:
#    build: php71-fpm
#    container_name: php71
#    net: "host"
#    extra_hosts:
#        - "dockerhost:172.17.0.1"
#    ports:
#        - "127.0.0.1:9071:9000"
#        - "172.17.0.1:9071:9000"
#    volumes:
#        - /var/www/vhost:/var/www/vhost
#        - /etc/nginx/cache:/etc/nginx/cache
#        - /var/www/owncloud:/var/www/owncloud
#        - /var/www/nextcloud:/var/www/nextcloud
#        - /var/log:/var/log:rw
#    restart: always

